alabaster==0.7.7
argh==0.26.1
Babel==2.11.0
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
certifi==2022.12.7
commonmark==0.9.1
docutils==0.17
future==0.15.2
Jinja2==3.1.2
livereload==2.4.1
MarkupSafe==2.1.2
pathtools==0.1.2
port-for==0.3.1
Pygments==2.14.0
pytz==2016.1
PyYAML==3.11
recommonmark==0.7.1
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==2.2.0
Sphinx==5.3.0
sphinx-autobuild==2021.3.14
sphinx-rtd-theme==1.1.1
tornado==4.3
watchdog==0.8.3
